altair
fastai
gdown
gym
jupyter
jupyterlab
kaggle
numpy
matplotlib
pandas
scikit-learn
seaborn
tensorflow
tensorboard
tensorflow-datasets
tensorflow-probability
torch
torchsummary
torchtext
torchvision
tqdm
wandb
